<div class="chat-top">
  <div class="top-left">
    <div class="title">hogefuga</div>
  </div>
  <div class="top-right">
    <div class="exit-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="dialogs">
  <div class="log">
    <div class="log-upper">
      <div class="log-user">
        Tom
      </div>
      <div class="log-date">
        2020/3/31(Wed) 12:43:40
      </div>
    </div>
    <div class="log-low">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>

  <div class="log">
    <div class="log-upper">
      <div class="log-user">
        Tom
      </div>
      <div class="log-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="log-low">
      <div class="message">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="chat-bottom">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>