<div class="log">
  <div class="log-upper">
    <div class="log-user">
      <%= message.user.name %>

    </div>
    <div class="log-date">
      <%=message.created_at %>

    </div>
  </div>
  <div class="loglow">
    <div class="message">
      <%= message.content %>

    </div>
  </div>
</div>